02_Dataset/02_E_reseni_Portland.ipynb
02_Dataset/ob.ipynb
03_Regrese/03_D_reseni._Portland.ipynb
04_PCA/04_E_reseni_PCA.ipynb
04_PCA/04_F_reseni_polynom.ipynb
05_Klasifikace/05_E_reseni_kmean.ipynb
05_Klasifikace/05_X_kNN.ipynb
05_Klasifikace/05_Y_kmean_grafy.ipynb
06_Stavovy_prostor/06_E_reseni_Devitka.ipynb
06_Stavovy_prostor/06_F_reseni_Prevoznik.ipynb
06_Stavovy_prostor/06_G_reseni_Loyodovo_bludiste.ipynb
07_Prohledavani/07_F_reseni_prevoznik.ipynb
07_Prohledavani/07_G_reseni_Devitka.ipynb
07_Prohledavani/07_H_reseni_Devitka_heuristika.ipynb
07_Prohledavani/07_I_reseni_Loyodovo_bludiste.ipynb
08_Teorie_her/piskvorky/ori.py
08_Teorie_her/piskvorky/piskvorky.py
08_Teorie_her/08_C_reseni_piskvorky.ipynb
09_ANN/09_C_reseni_kamera.ipynb
09_ANN/gen_4camera.ipynb
10_ANN_klasifikace/10_C_reseni_iris.ipynb
11_CNN/11_C_reseni_mnist.ipynb
.gitignore
.venv
12_RNN/12_E_reseni_letadlo.ipynb
03_Regrese/03_D_reseni_Portland.ipynb
05_Klasifikace/classification_encoder.bin
05_Klasifikace/classification_std_scaler.bin
05_Klasifikace/iris_numpy.npz
05_Klasifikace/kmean_model.sav
09_ANN/regresion_model.keras
09_ANN/std_scaler.bin
09_ANN/graph.png
10_ANN_klasifikace/classification_model_iris.keras
10_ANN_klasifikace/classification_model_mnist.keras
10_ANN_klasifikace/graph
10_ANN_klasifikace/graph.png
12_RNN/rnn_simple.keras
09_ANN/graph
08_Teorie_her/08_D_reseni_piskvorky.ipynb
08_Teorie_her/08_E_reseni_piskvorky_alfa_beta.ipynb
11_CNN/classification_model_cifar10.keras
11_CNN/graph
11_CNN/graph.png
